<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesse's Portfolio</title>
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/pages/home.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>

<nav>
    <div class="pull-left">
        <span class="name"></span>
    </div>

    <div class="right-side pull-right">
        <ul class="links">
            <li class="link">About</li>
            <li class="link">Portfolio</li>
            <li class="link">Contact</li>
        </ul>

        <ul class="icons">
            <li class="icon"></li>
            <li class="icon"></li>
            <li class="icon"></li>
            <li class="icon"></li>
            <li class="icon"></li>
        </ul>
    </div>
</nav>

<script src="../assets/js/lib/jquery-2.2.1.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>
</body>
</html>