<!DOCTYPE html>
<html lang="en">
<body>

<nav class="row">
    <span class="name lg col-lg-7 hidden-md hidden-sm hidden-xs">Jesse Oberstein</span>
    <span class="name md hidden-lg col-md-7 hidden-sm hidden-xs">Jesse Oberstein</span>
    <span class="name sm hidden-lg hidden-md col-sm-12 hidden-xs">Jesse Oberstein</span>
    <span class="name xs hidden-lg hidden-md hidden-sm col-xs-12">Jesse Oberstein</span>

    <div class="right-side col-lg-5 col-md-5 hidden-sm hidden-xs">
        <ul class="links pull-right">
            <li class="link">About</li>
            <li class="link">Portfolio</li>
            <li class="link">Contact</li>
        </ul>

        <ul class="icons pull-right">
            <li class="icon">
                <a target="blank" href="https://github.com/joberstein">
                    <img src="{{ url_for('static', filename='img/icons/github.png') }}"/>
                </a>
            </li>
            <li class="icon">
                <a target="blank" href="https://www.linkedin.com/in/jesseoberstein">
                    <img src="{{ url_for('static', filename='img/icons/linkedin.png') }}"/>
                </a>
            </li>
            <li class="icon">
                <a href="mailto:joberstein12@gmail.com">
                    <img src="{{ url_for('static', filename='img/icons/email.png') }}"/>
                </a>
            </li>
            <li class="icon"><img src="{{ url_for('static', filename='img/icons/document.png') }}"/></li>
            <li class="icon"><img src="{{ url_for('static', filename='img/icons/phone.png') }}"/></li>
        </ul>
    </div>

    <div class="small-menu">
        <div class="hidden-md hidden-lg">
            <ul class="links-small">
                <li class="row link">About</li>
                <li class="row link">Portfolio</li>
                <li class="row link">Contact</li>
            </ul>

            <ul class="icons-small">
                <li class="icon col-sm-1 col-xs-1">
                    <a target="blank" href="https://github.com/joberstein">
                        <img src="{{ url_for('static', filename='img/icons/github.png') }}"/>
                    </a>
                </li>
                <li class="icon space col-sm-1 col-xs-1"></li>
                <li class="icon col-sm-1 col-xs-1">
                    <a target="blank" href="https://www.linkedin.com/in/jesseoberstein">
                        <img src="{{ url_for('static', filename='img/icons/linkedin.png') }}"/>
                    </a>
                </li>
                <li class="icon space col-sm-1 col-xs-1"></li>
                <li class="icon col-sm-1 col-xs-1">
                    <a href="mailto:joberstein12@gmail.com">
                        <img src="{{ url_for('static', filename='img/icons/email.png') }}"/>
                    </a>
                </li>
                <li class="icon space col-sm-1 col-xs-1"></li>
                <li class="icon col-sm-1 col-xs-1"><img src="{{ url_for('static', filename='img/icons/document.png') }}"/></li>
                <li class="icon space col-sm-1 col-xs-1"></li>
                <li class="icon col-sm-1 col-xs-1"><img src="{{ url_for('static', filename='img/icons/phone.png') }}"/></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>