@font-face {
  font-family: Sifonn;
  src: url("/static/fonts/sifonn/sifonn.eot");
  /* IE9 Compat Modes */
  src: url("/static/fonts/sifonn/sifonn.eot?#iefix") format("embedded-opentype"), url("/static/fonts/sifonn/sifonn.woff2") format("woff2"), url("/static/fonts/sifonn/sifonn.woff") format("woff"), url("/static/fonts/sifonn/sifonn.ttf") format("truetype"), url("/static/fonts/sifonn/sifonn.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 2, ../../compass/sass/fragments/_header.scss */
nav {
  background-color: #90dbff;
  height: 125px;
}
/* line 6, ../../compass/sass/fragments/_header.scss */
nav .name {
  display: inline-block;
  float: left;
  color: #004474;
  font-family: Sifonn, sans-serif;
  font-size: 65px;
  line-height: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 30px;
}
/* line 18, ../../compass/sass/fragments/_header.scss */
nav .name.lg {
  font-size: 62px;
}
/* line 22, ../../compass/sass/fragments/_header.scss */
nav .name.md {
  font-size: 50px;
}
/* line 26, ../../compass/sass/fragments/_header.scss */
nav .name.sm {
  font-size: 60px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -20px;
  text-align: center;
}
/* line 34, ../../compass/sass/fragments/_header.scss */
nav .name.xs {
  font-size: 35px;
  line-height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-bottom: -30px;
}
/* line 44, ../../compass/sass/fragments/_header.scss */
nav .right-side {
  display: block;
}
/* line 47, ../../compass/sass/fragments/_header.scss */
nav .right-side .links, nav .right-side .icons {
  display: block;
  list-style: none;
  padding: 20px 0 0;
}
/* line 52, ../../compass/sass/fragments/_header.scss */
nav .right-side .links .link, nav .right-side .links .icon, nav .right-side .icons .link, nav .right-side .icons .icon {
  display: inline-block;
  float: left;
  margin-left: 25px;
  letter-spacing: 1px;
}
/* line 58, ../../compass/sass/fragments/_header.scss */
nav .right-side .links .link:hover:not(.selected), nav .right-side .links .icon:hover:not(.selected), nav .right-side .icons .link:hover:not(.selected), nav .right-side .icons .icon:hover:not(.selected) {
  cursor: pointer;
  opacity: .5;
}
/* line 67, ../../compass/sass/fragments/_header.scss */
nav .right-side .links .link a {
  color: #004474;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 75, ../../compass/sass/fragments/_header.scss */
nav .right-side .links .link.selected {
  padding-bottom: 5px;
  border-bottom: 5px solid #0066cc;
}
/* line 82, ../../compass/sass/fragments/_header.scss */
nav .right-side .icons {
  padding-top: 15px;
  clear: both;
}
/* line 86, ../../compass/sass/fragments/_header.scss */
nav .right-side .icons .icon {
  margin-left: 35px;
}
/* line 92, ../../compass/sass/fragments/_header.scss */
nav .small-menu {
  float: left;
  width: 100%;
}
/* line 96, ../../compass/sass/fragments/_header.scss */
nav .small-menu .links-small {
  list-style: none;
  background-color: #90dbff;
  text-align: center;
  margin-top: 50px;
  padding-left: 0;
  margin-bottom: 0;
}
/* line 104, ../../compass/sass/fragments/_header.scss */
nav .small-menu .links-small li:first-child {
  border-top: 1px solid #004474;
}
/* line 108, ../../compass/sass/fragments/_header.scss */
nav .small-menu .links-small .link {
  display: inline-block;
  width: 100%;
  margin-top: -1px;
  padding: 15px 0 10px;
  color: #004474;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #004474;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
/* line 121, ../../compass/sass/fragments/_header.scss */
nav .small-menu .links-small .link:hover:not(.selected) {
  cursor: pointer;
  color: #FFF;
  background-color: #004474;
}
/* line 127, ../../compass/sass/fragments/_header.scss */
nav .small-menu .links-small .link.selected {
  color: #FFF;
  background-color: #004474;
}
/* line 134, ../../compass/sass/fragments/_header.scss */
nav .small-menu .icons-small {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 15px 0 10px;
  list-style: none;
  text-align: center;
  background-color: #90dbff;
}
/* line 143, ../../compass/sass/fragments/_header.scss */
nav .small-menu .icons-small .icon {
  display: inline-block;
  float: none;
}
/* line 147, ../../compass/sass/fragments/_header.scss */
nav .small-menu .icons-small .icon:hover {
  cursor: pointer;
  opacity: .75;
}
/* line 152, ../../compass/sass/fragments/_header.scss */
nav .small-menu .icons-small .icon.space {
  background-color: transparent;
}

/* line 4, ../../compass/sass/fragments/_footer.scss */
footer .credits {
  background-color: #c9eeff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 60px;
}

/* line 6, ../../compass/sass/fragments/_page_template.scss */
html, body {
  height: 100%;
}

/* line 10, ../../compass/sass/fragments/_page_template.scss */
.site-background {
  background-color: #c9eeff;
}
/* line 15, ../../compass/sass/fragments/_page_template.scss */
.site-background .row .light-blue-backing {
  padding: 80px 0 80px;
  background-color: #c9eeff;
  display: inline-block;
  text-align: center;
  float: none;
}
/* line 22, ../../compass/sass/fragments/_page_template.scss */
.site-background .row .light-blue-backing .dark-blue-backing {
  padding: 120px 0 120px;
  background-color: #003255;
  display: inline-block;
  text-align: center;
  float: none;
}
/* line 29, ../../compass/sass/fragments/_page_template.scss */
.site-background .row .light-blue-backing .dark-blue-backing .light-gray-backing {
  padding: 75px 0 75px;
  background-color: #f5f5f5;
  display: inline-block;
  text-align: center;
  float: none;
}
/* line 36, ../../compass/sass/fragments/_page_template.scss */
.site-background .row .light-blue-backing .dark-blue-backing .light-gray-backing .title {
  color: #1f1f1f;
  font-size: 70px;
  font-family: Sifonn, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 48, ../../compass/sass/fragments/_page_template.scss */
.site-background .row .light-blue-backing .dark-blue-backing .light-gray-backing .text {
  width: 90%;
  margin: 30px auto 20px;
  color: #1f1f1f;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

/* line 3, ../../compass/sass/pages/contact.scss */
.top-menu {
  list-style: none;
  display: inline-block;
  border-bottom: 5px solid #003255;
  background-color: #f5f5f5;
  position: relative;
  top: -70px;
  margin-bottom: -20px;
}
/* line 12, ../../compass/sass/pages/contact.scss */
.top-menu a:hover {
  text-decoration: none;
  opacity: .75;
  cursor: pointer;
}
/* line 18, ../../compass/sass/pages/contact.scss */
.top-menu .item, .top-menu a, .top-menu a:visited, .top-menu a:active {
  color: #003255;
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
  text-decoration: none;
}

/* line 31, ../../compass/sass/pages/contact.scss */
.text {
  text-align: center;
}

/* line 35, ../../compass/sass/pages/contact.scss */
.form-container {
  display: block;
  width: 100%;
}
/* line 39, ../../compass/sass/pages/contact.scss */
.form-container form {
  display: inline-block;
  float: none;
  font-family: Ubuntu, sans-serif;
}
/* line 44, ../../compass/sass/pages/contact.scss */
.form-container form input,
.form-container form textarea {
  background-color: transparent;
  display: block;
  color: #3d3d3d;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 25px;
  height: 25px;
  border: none;
  border-bottom: 3px solid #004474;
}
/* line 56, ../../compass/sass/pages/contact.scss */
.form-container form input::-webkit-input-placeholder,
.form-container form textarea::-webkit-input-placeholder {
  color: #3d3d3d;
}
/* line 60, ../../compass/sass/pages/contact.scss */
.form-container form input::-moz-placeholder,
.form-container form textarea::-moz-placeholder {
  color: #3d3d3d;
  opacity: 1;
}
/* line 65, ../../compass/sass/pages/contact.scss */
.form-container form input:-ms-input-placeholder,
.form-container form textarea:-ms-input-placeholder {
  color: #3d3d3d;
}
/* line 69, ../../compass/sass/pages/contact.scss */
.form-container form input:focus,
.form-container form textarea:focus {
  outline: none;
  outline-offset: 0;
  border-bottom-color: #0066cc;
}
/* line 75, ../../compass/sass/pages/contact.scss */
.form-container form input:invalid,
.form-container form textarea:invalid {
  border-bottom-color: #F00;
}
/* line 84, ../../compass/sass/pages/contact.scss */
.form-container form #humanField {
  display: none;
}
/* line 88, ../../compass/sass/pages/contact.scss */
.form-container form textarea {
  resize: none;
}
/* line 92, ../../compass/sass/pages/contact.scss */
.form-container form button {
  background-color: #004474;
  color: #f5f5f5;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
}
/* line 105, ../../compass/sass/pages/contact.scss */
.form-container form button:hover {
  cursor: pointer;
  opacity: .75;
}
