{% extends "page_template.html" %}
{% set active_page = "about" %}

{% block head %}
    {{ super() }}
    <meta name="description" content="The about page for Jesse Oberstein's portfolio.">
    <link href="{{ url_for('static', filename='css/pages/about.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="title">About</div>
    <div class="text text-left">
        I have been attending Northeastern University since fall of 2012, and am a Computer Science and
        Interactive Media combined major.<br>
        <br>
        I enjoy anime, animation, video games, computers, good food, and good music.  I like to
        appreciate what's given to me in life, do my best when I'm in a sticky situation, and work
        diligently to achieve my goals.

        <img src="{{ url_for('static', filename='img/about/self.png') }}" />

        Some places in the world that I'd like to visit are Japan, and Finland, if I ever get the chance
        to.  I have been to Israel, which was also one of my desired destinations!  During the summer of
        2014, I went on a program called Onward Israel.  My blog is featured in the 'Websites' section.<br>
        <br>
        If you've read this far, one last thing I'd like to say, is: please enjoy my portfolio!<br>
    </div>
{% endblock %}