{% extends "page_template.html" %}
{% set active_page = "contact" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/pages/contact.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <ul class="top-menu col-sm-12">
        <li class="item col-sm-3 col-xs-12">Boston, MA</li>
        <li class="item col-sm-3 col-xs-12">732-241-7082</li>
        <li class="col-sm-3 col-xs-12">
            <a class="item" target="blank" href="https://www.linkedin.com/in/jesseoberstein">Connect</a>
        </li>
        <li class="item col-sm-3 col-xs-12">Resume</li>
    </ul>
    <div class="title">Contact</div>
    <div class="text text-center">
        {% if formStatus == "VIEWED" %}
            Drop me a note to get in touch!
        {% elif formStatus == "FAILED" %}
            Sorry, your message couldn't be sent. Click <a href="/contact">here</a> to fill out the form again!
        {% elif formStatus == "SENT" %}
            Thanks for your message! Feel free to poke around more if you like!
        {% endif %}
    </div>

    {% if formStatus == "VIEWED" %}
        <div class='col-md-5 col-sm-12 col-xs-12 form-container'>
            <form action="http://localhost:5000/contact" method="post" class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <input name="name" placeholder="Name" required>
                <input name="email" type="email" placeholder="Email Address" required>
                <textarea name="message" placeholder="Message" rows="1" required></textarea>
                <div id="humanField">
                    <label for="human">Leave this field blank please!</label>
                    <input name="human" type="text" id="human">
                </div>
                <button name="submit" type="submit" class="submit">Send</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/lib/autosize.min.js') }}"></script>
    <script type="text/javascript"> $(function() { autosize($("textarea")); });</script>
{% endblock %}