{% extends "page_template.html" %}
{% set active_page = "portfolio" %}

{% set portfolio_sections = [
    ('apps'),
    ('games'),
    ('websites'),
    ('animation'),
    ('drawing')
] -%}

{% block head %}
    {{ super() }}
    <meta name="description" content="A portfolio section page for Jesse Oberstein's portfolio. Sections are loaded with AJAX.">
    <link href="{{ url_for('static', filename='css/pages/portfolio-section.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <ul class="top-menu col-sm-12">
        {% for page_name in portfolio_sections %}
        <li class="item col-md-2 col-xs-12
            {% if loop.index == 1 %}col-md-offset-1{% endif %}
            {% if page_name == section_name %}selected{% else %}{% endif %}">
            <a href="{{ '/portfolio/' + page_name|e }}">{{ page_name|e }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="section-content">
        <div class="title">{{ section_name }}</div>
        <ul class="grid">
            {% for piece in portfolio_pieces %}
                <li class="grid-square">
                    <div class="tint">
                        <img src="{{ url_for('static', filename='img/portfolio/' + section_name + '/thumbnails/' + piece.urls.thumbnail) }}"
                             data-index="{{loop.index - 1}}" data-section="{{section_name}}" />
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/src/portfolio-piece-click.js') }}"></script>
{% endblock %}