{% extends "page_template.html" %}
{% set active_page = "portfolio" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/pages/portfolio.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <ul class="top-menu col-sm-12">
        <li class="item col-md-2 col-md-offset-1 col-xs-12"><a href="/portfolio/apps">Apps</a></li>
        <li class="item col-md-2 col-xs-12"><a href="/portfolio/games">Games</a></li>
        <li class="item col-md-2 col-xs-12"><a href="/portfolio/websites">Websites</a></li>
        <li class="item col-md-2 col-xs-12"><a href="/portfolio/animation">Animation</a></li>
        <li class="item col-md-2 col-xs-12"><a href="/portfolio/drawing">Drawing</a></li>
    </ul>
    <div class="title">Portfolio</div>
    <div class="text text-left">
        Hey there, you've landed on my very procedural portfolio page!  I call it procedural because I designed a page
        template in which I can plug different types of content in for each portfolio work that I have listed. There's a
        variety of media available for viewing, from apps and games hosted on Github, to artistic works with animations
        posted on Youtube. You can get started by clicking one of the sections above, or by clicking the button below.

        <div class="portfolio-lander-button">
            <button class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" type="button">
                View Work <img src="{{ url_for('static', filename='img/icons/right-chevron-arrow-white.png') }}"/>
            </button>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/src/portfolio-lander-click.js') }}"></script>
{% endblock %}