<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesse's Portfolio</title>
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/pages/about.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>

<section class="container-fluid">
    <header></header>
</section>

<section class="site-background container-fluid">
    <div class="row">
        <div class="light-blue-backing col-xs-12">
            <div class="dark-blue-backing col-xs-9">
                <div class="light-gray-backing col-xs-9">

                    <!--Everything above should be abstracted into the page template-->
                    <!--About Page-->
                    <div class="title">About</div>
                    <div class="text text-left">
                        I have been attending Northeastern University since fall of 2012, and am a Computer Science and
                        Interactive Media combined major.<br>
                        <br>
                        I enjoy anime, animation, video games, computers, good food, and good music.  I like to
                        appreciate what's given to me in life, do my best when I'm in a sticky situation, and work
                        diligently to achieve my goals.

                        <img src="../assets/python/static/img/about/self.png" />

                        Some places in the world that I'd like to visit are Japan, and Finland, if I ever get the chance
                        to.  I have been to Israel, which was also one of my desired destinations!  During the summer of
                        2014, I went on a program called Onward Israel.  My blog is featured in the 'Websites' section.<br>
                        <br>
                        If you've read this far, one last thing I'd like to say, is: please enjoy my portfolio!<br>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <footer></footer>
</section>

<script src="../assets/js/lib/jquery-2.2.1.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>
<script src="../assets/js/src/page-template.js"></script>

</body>
</html>